body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {width:100%}

p, h3 {
    margin: 0;
}

.box{
    background-color: white;
    width: 500px;
}
.header {
    display: flex;
    align-items: center;
    margin: 1rem;
}
.perfil {
    padding: 0;
}
.nombre {
    font-weight: bold;
}
.bloque {
    width: 95%;
    display: flex;
    align-items: center;
}
.perfil {
    padding-left: 1rem;
}
.cuerpo {
    margin: 0.2rem 1rem;
}

.corazon{
    margin: 5px;
    }
.comentario{
    margin: 5px;
    }
.avion{
    margin: 5px;
    }
#bookmark{
        position: relative;
        left: 370px;
    }
.lorem{
        padding-right: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
    
    }
.likedby{
        margin-left: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
    }